.contact-wrapper{ 
    width: 100%;
    font-size: 150%;
}


.contact h1{
    font-size: 300%;
}

.name-flair{
    color: #43A579;
}

.contact-info{
    display: block;
}


.my-row{
    display: flex;
    gap: 30px;
    word-wrap: break-word;
    padding: 20px;
}

.my-row span{
    font-size: 150%;
}

.my-row img{ 
    width: 50px;
}

.text-wrapper-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

