.contact-wrapper{ 
    text-align: center;
    width: 100%;
}


.contact h1{
    font-size: 300%;
}

.name-flair{
    color: #43A579;
}

.contact-info{
    display: block;
}


.my-row{
    display: block;
    word-wrap: break-word;
}

.my-row p{
    font-size: 150%;
}

.my-row img{ 
    width: 8vw;
}

/* .text-wrapper-info *{
    box-sizing: content-box;
} */

