
.clickable-dots{
    /* display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 2%; */
    
}


.marker{
    padding: 5px;
}

.desc-wrapper{
    display: flex;
    gap: 20px;
}




.img-desc-ctr{
    width: 60vw;
}

.description-pic{ 
    max-width: 100%;
}


.portfolioObj-main{
    display: flex;
    align-items: center;
    margin: 2vh 0;
}

@media screen and (max-width: 600px) {
    .portfolioObj-main{
        display: block;
    }

    .desc-wrapper{
        display: block;
    }

    .img-desc-ctr{
        width: 100%;
    }

    .desc-ctr * {
        margin: 20px 0;
    }

    .marker .header-portfolio{
        height: 15vh;
    }

}

.tech-used-ctr{
    margin-top: 4vh;
    text-align: center;
}
.tech-used{ 
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 4vh;
}